[Desktop Entry]
Version=1.0
Type=Application
Name=klavye
Comment=klavye
Exec=/home/kali/Desktop/klavye.py
Icon=
Path=
Terminal=true
StartupNotify=false
